certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
colorama==0.4.5
idna==3.3
PyAudio @ file:///C:/Users/bobau/jarvis/assistant/PyAudio-0.2.11-cp310-cp310-win_amd64.whl
pycparser==2.21
pygame==2.1.2
requests==2.28.1
srt==3.5.2
tqdm==4.64.0
urllib3==1.26.10
vosk==0.3.42
